.header{
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
    background-image: url(../images/bg-header-mobile.svg);
}

@media screen and (min-width: 992px) {
    .header {
        background-image: url(../images/bg-header-desktop.svg);
        height: 150px;
    }
}